/* ticket create */

div.tui-window {
    width: 650px !important;
}
  
.tui-input, .tui-textarea {
  width: 100%;
  box-sizing: border-box; 
  overflow: hidden;
}

textarea.tui-input {
    height: 150px !important;
}

.form-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: .5rem;
}
  
.form-row label {
    white-space: nowrap;
}

/* buttons */

.button-row {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
  
/* ticket list */
.ticket-list {

}

/* ticker searchbar */
.ticket-searchbar {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 1rem;
}

.ticket-searchbar .form-row {
    margin-bottom: 0;
}

/* form errors */
#tui-error {
    display: none;
    margin-top: 1rem;
}

.ticket-info-table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
  }
  
  .ticket-info-table th {
    text-align: left;
    vertical-align: top;
    white-space: nowrap;
  }
  
  .ticket-info-table td {
    text-align: left;
    padding: 0.2rem 0;
    vertical-align: top;
    word-break: break-word;
  }
  
  .ticket-info-table pre {
    margin: 0;
    white-space: pre-wrap;
    word-break: break-word;
    font-family: inherit;
  }

  .ticket-edit-row {
    display: flex;
    justify-content: space-between;
    align-items:center;
  }